body{
    background-color: aliceblue;
}

.number-list-container {
    padding-left: 50%;
}

.a10px{
    font-size: 10px;
}
.a15px{
    font-size: 15px;
    color: blue;
}
.a20px{
    font-size: 20px;
    color: red;
}
.a25px{
    font-size: 25px;
    color:orangered
}
.a30px{
    font-size: 30px;
    color:blueviolet;
}
.a35px{
    font-size: 35px;
    color:aqua;
}
.a40px{
    font-size: 40px;
    color:green
}
.a45px{
    font-size: 45px;
    color:red
}
.a50px{
    font-size: 50px;
    color:orange
}